@use "@/styles/variables" as v;
@use "@/styles/mixins" as m;

.root {
  display: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.skeleton {
  @include m.skeleton-bg;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: v.$bg-sc-btn;

  svg {
    height: 10rem;
  }
}
