.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  height: 4rem;
  padding: 0 2rem;
  border: none;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1;

  cursor: pointer;
  transition:
    opacity 0.2s ease,
    transform 0.1s ease;

  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: var(--shadow-sm);
    z-index: 100;
  }
}

.button svg {
  height: 1.4rem;
}

.button span {
  margin-top: 0.1rem;
}

.primary {
  background-color: var(--accent);
  color: var(--text-bt);
}

.secondary {
  padding: 0 1.9rem;
  background-color: transparent;
  color: var(--text-pr);
  border: 1px solid var(--border);
}
