@use "@/styles/variables" as v;

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35rem;
  gap: 2rem;
  padding: 4rem;
  border-radius: 4rem;
  background-color: v.$bg-pr;
  box-shadow: v.$shadow;
  text-align: left;
}
