@use "@/styles/breakpoints" as *;

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: rgba(200, 200, 200, 0.75);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
}

.modal {
  position: relative;
  animation: modalEnter 0.2s ease-out forwards;
}
@keyframes modalEnter {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.closeBtn {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

@media (max-width: $mobile) {
  .overlay {
    padding: 0;
  }

  .modal {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
