@use "@/styles/variables" as v;

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 2rem;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  padding: 3rem;
  text-align: left;
  background: v.$bg-pr;
  border-radius: 3rem;
}
